@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body {
  padding: 0px;
}

body{
  margin-top: -15;
  margin-left: 0px;
  margin-right: 0px;
}

#home_section {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #313131;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(234deg, #000000, #0f0847, #0e446b, #560a67, #370a56, #000000);
  background-size: 1200% 1200%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;


}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.bgimage1, .bgimage2, .bgimage3, .bgimage4, .bgimage5 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;

}


.bgimage1 {
  background-image: url('./static/bg-image1.jpeg');
}


.bgimage2 {
  background-image: url('./static/bg-image2.jpg');
}
.bgimage3 {
  background-image: url('./static/bg-image3.jpg');
}

.bgimage4 {
  background-image: url('./static/bg-image4.jpg');
}

.bgimage5 {
  background-image: url('./static/bg-image5.jpg');
  min-height: 400px;
}


.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: black;
  z-index: 1000;
  opacity: 0.8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.nav li {
    float: right;
}

.nav li a {
    height: 60px;
    display: block;
    color: white;
    text-align: center;
    margin: 28 40 0 40;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;

}

.nav li:hover {

  height: 80px;
  background-color: #333;
}

.nav li a:hover{
  height: 60px;
  color: pink;
}

#vertical_nav{
    
  display: none;
  margin: 30;
  color: white;
  font-size: 40px;

}

.rainbow_toolbar {
  display: block;
  position: fixed;
  left: 0;
  top: 70;
  width: 100%;
  z-index: 8001;
}

.rainbow_detail {
  float: left;
  height: 2px;
  width: 25%;
}

.part1 {
  background-color: #afecc3;
}

.part2 {
  background-color: #84c3c0;
}

.part3 {
  background-color: #d45a68;
}

.part4{
  background-color: #ecbf63;
}


#gdg_icon {
  display: inline-block;
  width: 250px;
  height: 180px;
  margin: 6px 0 0 -180px;
  float: left;
}

#logo_text {

  display: inline-block;
  margin: 8px 0 0 15px;
  float: left;
  font-size: 30px;
  font-family: 'Product Sans', Arial, sans-serif;
  font-style: normal;
  color: white;

}


#home {

  display: inline-block;
  position: relative;
  margin-top: 225px;
  height: 200px;
  width: 460px;
  background-image: url(./static/gdg_home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;

}

#typewrite {
  display: inline-block;
  position: relative;
  text-align: center;
  top: 20px;
  font-size: 20px;

}

a {

  color: white;
  font-size: 40px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

}


@media only screen and (max-device-width: 414px) {



.bgimage1, .bgimage2, .bgimage3, .bgimage4, .bgimage5 {
 
  background-attachment: scroll;
  padding: 10%;
  width: 100%;
 
}



  #navbar{
    display: none;
  }

  #navbar .icon {
      display: none;
  }

  #navbar a:not(:first-child) {display: none;}

  #navbar a.icon {
    float: right;
    display: block;
  }

#navbar.responsive {position: relative;}
  #navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }


.nav {

  display: block;
  position: fixed;
  top: -2;
  left: 0;
  width: 100%;
  height: 125px;
  background-color: black;
  z-index: 1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;

}


.nav li  {

  display: none;
  height: 140px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  margin: -30 0 0 0;
  float: none;
  text-align: center;


}

.nav li a {

    height: 120px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    color: white;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
    overflow: auto;

}


#vertical_nav {
    
  display: inline-block;
  float: right;
  margin: 30;
  padding: 0.6%;
  color: white;
  font-size: 50px;

}
.rainbow_toolbar {

  display: block;
  position: fixed;
  left: 0;
  top: 120;
  width: 100%;
  z-index: 8001;
}

#gdg_icon {

  display: inline-block;
  width: 250px;
  height: 180px;
  margin: 28px 0 0 -180px;
  overflow: visible;
}

#logo_text {

  display: inline-block;
  margin: 0;
  padding: 20px;
  float: left;
  font-size: 40px;
  font-family: 'Product Sans', Arial, sans-serif;
  font-style: normal;
  color: white;

}

#home {

  display: inline-block;
  position: relative;
  margin: 600px 0 0 0 ;
  height: 200px;
  width: 460px;
  background-image: url(./static/gdg_home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;

}

#home_section {
  height: 100%;
  width: 100%;
  padding: 10%;
}


    
}



#textblock1 {
    background-color: #1C2842;
    height: 40%;
    text-align: center;
    padding: 4%;
}

#textblock2 {
    background-color: #1C2842;
    height: 40%;
    text-align: center;
    padding: 4%;
}

#text1,#text2 {
  margin-top: auto;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 200%;
}

@media(max-device-width: 1200px)
{
  #textblock1 {
    background-color: #1C2842;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10%;
}

#text1 {
  font-size: 10em;
}
  #textblock1 p{
    font-size: 3em;
}



#textblock2 {
    background-color: #1C2842;
    height: 100%;
    width: 100%;
    text-align: center;
    /*padding-top: 30%;*/
    padding: 10%;
}

#text2 {
  font-size: 10em;
}
  #textblock2 p{
    font-size: 3em;
}

}
/************************************  Workshops CSS Starts  **********************************/

#events {
    font-family: 'Open Sans', sans-serif;
    /*background-color: rgb(0,0,48);*/
    background-color: #1C2842;
    background-size: contain;
    padding-top: 10%;
    /*padding-left: 10%;*/
    width: 100%;
    padding-bottom : 5%;
    /*margin-top: 14.8%;*/
}
@media only screen and (max-device-width: 414px) {
    #events {
      padding: 10%;
    }
    .workshop_modal_img{
      height: 100%;
      width: 100%;
    }
    #footer{
      width: 100%;
      height: 100%;
      padding: 10%;
    }
    #footer p{
      font-size: 2em;
      color: white;
    }
    #cont{
      color: white;
      font-size: 10em;
    }
    #team {
      /*background-color: #1C2842;*/
      width: 100%;
      padding: 10%;

  }
}
#cont{
  color: white;
  font-size: 3em;
}

#workshop_heading {
  padding-top: 8%;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-top: -200px;
  margin-bottom: 1%;
}
/******************************** MODAL CSS ***********************/
.workshop_modal {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.85);

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}

#workshop_modal_text_para{
  font-size: 20px;
  margin-top: -7%;
  margin-left: -3%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#workshop_modal_title_para{
  font-size: 35px;
  margin-top: -3%;
  margin-left: -3%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.workshop_modal_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  float:left;
  background-color: rgb(0,0,48);
  color: #fefefe;
  padding: 0px 0px 0px 0px;
  border: 3px solid white;
  border-radius: 4px;
  width: 85%;
  height: 60%;
}
.workshop_modal_img {
  display: inline-block;
  height: 90%;
  width: 20%;
  margin-top: -1em;
  margin-left: -1.5em;
}
.workshop_modal_img img{
  width: 100%;
  height: 100%;
}
.workshop_modal_description
{
  display:flex;
  flex-direction:column;
  align-items: space-around;
  justify-content: space-around;
  width: 60%;
  height:80%;
  margin: 0px 0px 0px 0px;
}
.workshop_modal_content{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:space-between;
  flex-wrap: nowrap;
  width:100%;
  height: 90%;
  text-align: center;
}
.close{
  width: 100%;
  height: 15%;
  float: right;
  padding-right: 30px;
  margin: 0px 0px 0px 0px;
}
#close-btn{
  color: #fefefe;
  float: right;
  cursor: pointer;
  font-size: 20px;
}
.workshop_modal_title{
  height:20%;
}

.workshop_modal_text{
  height:40%;
}

@media(max-device-width: 1200px)
{
  .workshop_modal_content{
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
  }

  .workshop_modal_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    float:left;
    background-color: rgb(0,0,48);
    color: #fefefe;
    padding: 0px 0px 0px 0px;
    border: 2px solid white;
    border-radius: 5px;
    width: 85%;
    height: 100%;
    margin: auto;
  }
  .close{
    width: 100%;
    height: 10%;
    float: right;
    padding-right: 100px;
  }
  #close-btn{
    color: #fefefe;
    float: right;
    cursor: pointer;
    font-size: 40px;
    padding-right:50px;
  }
  .workshop_modal_description
  {
    display:flex;
    flex-direction:column;
    align-items: space-around;
    justify-content: space-around;
    width: 100%;
    height:80%;
    margin: 0px 0px 0px 0px;
  }
  .workshop_modal_img {
    display: inline-block;
    height: 60%;
    width: 90%;
  }
  #workshop_modal_text_para{
    font-size: 30px;
    margin-top: -3%;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 50px 50px 50px;
  }

  #workshop_modal_title_para{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
    margin-top: -3%;
    font-family: 'Open Sans', sans-serif;
  }
}

/************************ Modal CSS Ends ********************************/
.workshop_container {
  display: inline-block;
  margin-right: 14%;
  margin-left: 14%;

  text-align: center;
  width: 80%;

  background-color: white;
  justify-content: center;
  float: left;
}

.workshop_image {
  height: 300px;
}

.workshop_container:hover {
  box-shadow: 0 0 30px #fff;
}

.workshop_container h3 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: white;
  font-size: 27px;
  font-weight: bold;
}

.workshop_cont {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 24%;
  height: 65%;
  padding: 20px;
  margin:30px 30px 0px 40px ;
}

.workshop_modal_heading {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 2px;
}

/***************************************Responsive********************************************************/

 @media(max-device-width: 1100px)
        {
        .workshop_cont {
          font-family: 'Open Sans', sans-serif;
          display: inline-block;
          width: 40%;
          height: 32%;
          margin: auto;
          margin-left: 3%;
        }
        #workshop_heading {
      padding-top: 5%;
      text-align: center;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-size: 60px;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 3%;
    }

        .workshop_image{
          /*height: 320px;*/
          height: 100%;
          width: 100%

        }

        .workshop_container h3 {
          font-family: 'Open Sans', sans-serif;
          color: black;
          background-color: white;
          font-size: 5px;
          font-weight: bold;
        }
  }
    @media(max-device-width: 414px)
        {
        .workshop_cont {
          font-family: 'Open Sans', sans-serif;
          display: inline-block;
           width: 100%;
           height: 75%;
           margin-left: -4%;
           margin-top: 10%;
        }

        .workshop_image{
          height: 100%;
          width: 100%
        }

        #workshop_heading {
        padding-top: 5%;
        text-align: center;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 60px;
        font-weight: bold;
        margin-top: 0px;
      margin-bottom: 0.5%;
    }
        }

/***************************************** Workshops CSS Ends ******************************************/
#team {
  background-color: #1C2842;
  width: 80%;
  padding: 10%;
}

#hteam {

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 60px;
	color: white;
	text-align: center;
}

.members {
	padding: 0;
	list-style: none;
	display: inline-block;
	text-align: center;
	background-color: #1C2842;
  width: 100%;

	margin-bottom: 4%;
}

@media(max-device-width : 414px){

  .members li {
  width: 80%;
  height: 18%;
  display: inline-flex;
  padding-left: 5%;
}

.member {
  width: 100%;
}

.manager{
  width: 20em;
  font-size: 20em;
}

}

@media(max-device-width : 1100px){

  .members li {
  width: 30%;

}

}

.member {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	overflow: visible;
	position: relative;
}


.m-img-1 {
	background-image: url("./images/wally.jpg");
	background-size: 100% 100%;
}
.m-img-2 {
	background-image: url("./images/sukriti.jpg");
	background-size: 100% 100%;
}

.m-img-3 {
	background-image: url("./images/siddy.jpg");
	background-size: 100% 100%;
}

.m-img-4 {
	background-image: url("./images/nari.jpg");
	background-size: 100% 100%;
}

.m-img-5 {
	background-image: url("./images/bhargav.jpg");
	background-size: 100% 100%;
}

.m-img-6 {
	background-image: url("./images/yash.png");
	background-size: 100% 100%;
}

.m-img-7 {
	background-image: url("./images/muskan.png");
	background-size: 100% 100%;
}

.m-img-8 {
	background-image: url("./images/mehul.png");
	background-size: 100% 100%;
}

.m-img-9 {
	background-image: url("./images/siddhant.png");
	background-size: 100% 100%;
}

.m-img-10 {
	background-image: url("./images/rohit.jpg");
	background-size: 100% 100%;
}

.info {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	transition: all 0.6s linear;
	transform-origin: 50% 0%;
}

.info-back {
	transform: translate3d(0,0,-200px) rotate3d(1,0,0,90deg);
	background: black;
	opacity: 0;
}

.info-back > p {
	position: relative;
	top: 50px;
	color: white;
	line-height: 1.2em;
	font-size: 13px;
}

.member:hover .info-front{
	transform: translate3d(0,200px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.member:hover .info-back{
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}

.member:active .info-front{
	transform: translate3d(0,200px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.member:active .info-back{
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
} 

#footer {
  background-color: black;
  height: 30%;
  width: 100%;
  margin: 0 auto;
  border-top: 0.5px solid white;
  text-align: center;
  padding-top : 2%;
  font-family: 'Open Sans', sans-serif;
}

#heading{
  width: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: black;
}
#list {
  height: auto;
  width: auto;
  background-color: black;
  list-style: none;
  display: flex;
  list-style:none;
  margin-bottom: 0px;
}
#one {
  margin-left: 43.7%;
}

#one,#two,#three {
  padding-right: 1%;
  padding-bottom : 1.5%;
}
img {

    height: 100%;
    width: 100%;
}
/*#text {*/
  /*margin: 0;*/
  /*background-color: black;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*color: pink;*/
  /*font-family: 'Open Sans', sans-serif;*/
/*}*/
#one:hover {
  opacity: 0.5;
}
#two:hover {
  opacity: 0.5;
}
#three:hover {
  opacity: 0.5;
}
#google {
  font-size: 36px;
  color: #d34836;
}
#fb{
  color:#3b5998;
  font-size:36px;
}
#youtube{
  color:#bb0000;
  font-size:36px;
}


@media(max-device-width: 1200px)
{
  #footer {
  background-color: black;
  height: 60%;
  width: 100%;
  margin: 0 auto;
  border-top: 0.5px solid white;
  text-align: center;
  font-size: 2em;
}
#one {
  margin-left: 41.7%;
}
}
