@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,body {
  margin: 0;
  padding: 0;
}

#home_section {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #313131;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(234deg, #000000, #0f0847, #0e446b, #560a67, #370a56, #000000);
  background-size: 1200% 1200%;
  
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;


}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: black;
  z-index: 1000;
  opacity: 0.8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.nav li {
    float: right;
}

.nav li a {
    height: 60px;
    display: block;
    color: white;
    text-align: center;
    margin: 28 40 0 40;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;

}

.nav li:hover {

  height: 80px;
  background-color: #333;
}

.nav li a:hover{
  height: 60px;
  color: pink;
}

.rainbow_toolbar {
  display: block;
  position: fixed;
  left: 0;
  top: 70;
  width: 100%;
  z-index: 8001;
}

.rainbow_detail {
  float: left;
  height: 2px;
  width: 25%;
}

.part1 {
  background-color: #afecc3;
}

.part2 {
  background-color: #84c3c0;
}

.part3 {
  background-color: #d45a68;
}

.part4{
  background-color: #ecbf63;
}

.portion {

  min-height: 500px;
  background-image: url('./static/bg-image1.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}



.portion.two {
  background-image: url('./static/bg-image2.jpg');
}

.portion.three {
  background-image: url('./static/bg-image3.jpg');
}

.portion.four {
  background-image: url('./static/bg-image4.jpg');
}


#gdg_icon {
  display: inline-block;
  width: 250px;
  height: 180px;
  margin: 6px 0 0 -180px;
  float: left;
}

#logo_text {

  display: inline-block;
  margin: 8px 0 0 15px;
  float: left;
  font-size: 30px;
  font-family: 'Product Sans', Arial, sans-serif;
  font-style: normal;
  color: white;

}


#home {

  display: inline-block;
  position: relative;
  margin-top: 225px;
  height: 200px;
  width: 460px;
  background-image: url(./static/gdg_home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;

}

#typewrite {
  display: inline-block;
  position: relative;
  text-align: center;
  top: 20px;
  font-size: 20px;

}

a {

  color: white;
  font-size: 40px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

}



#textblock1 {
    background-color: #1C2842;
    height: 50%;
    text-align: center;
    padding: 5%;
}

#textblock2 {
    background-color: #1C2842;
    height: 40%;
    text-align: center;
    padding: 5%;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 200%;
}


#events {
    font-family: 'Open Sans', sans-serif;
    /*background-color: rgb(0,0,48);*/
    background-color: #1C2842;
    background-size: contain;
    padding-bottom: 12%;
}

#workshop_heading {
  padding-top: 5%;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin-top: -200px;
  margin-bottom: 1%;
}

.workshop_modal_img {
  width: 300px;
  height: 400px;
  float: left;
  margin-top: -12%;
  margin-left: 0.5%;
}

.workshop_modal_title {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: 12%;

}
.workshop_modal_text {
  display: inline-block;
  text-align: center;
  width: 60%;
  float: left;
  justify-content: center;
  margin-left: 9%;
}

.workshop_modal {
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 130px; /* Location of the box */
    padding-left: 50px;
    padding-right:50px;
    left: 0;
    top: 0;
    width:100%;/* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}


@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-content {
  font-family: 'Open Sans', sans-serif;
  float:left;
  background-color: rgb(0,0,48);
  color: #fefefe;
  /*margin: 15% 15% 15% 15%;*/
  padding:30px 30px 30px 30px;
  border: 5px solid white;
  border-radius: 5px;
  width: 90%;
  height: 60%;
}

#close {
  color: #fefefe;
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.workshop_image {
  display: inline-block;
  float: left;
  width: 100%;
  height: 280px;
  padding-bottom: 10px;
  float: left;
}

.workshop_container {
  display: inline-block;
  margin-right: 14%;
  margin-left: 14%;
  
  text-align: center;
  width: 80%;
  
  background-color: white;
  justify-content: center;
  float: left;
}

.workshop_container:hover {
  box-shadow: 0 0 30px #fff;
  height: 400px;
}

.workshop_title {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 27px;
  font-weight: bold;
}

.workshop_cont {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 25%;
  height: 50%;
  padding: 20px;
  margin:30px 30px 30px 30px ;
  margin-bottom: 5%;
}

.workshop_modal_heading {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 2px;
}


#team {
  background-color: black;
  display: inline-block;
  justify-content: center;
}


#hteam {
  display: inline-block;
  font-family: Courier, sans-serif;
  font-weight: normal;
  font-size: 45px;
  margin-top: 15px;
  letter-spacing: 0.1em;
  padding-left: 40px;
  color: black;

}


.head {
  height: 80px;
  width: auto;
  margin-bottom: 50px;
  background-color: #99ccff;
}


.member {
  display: inline-block;
  margin-left: 96px;
  margin-right: 40px;
  margin-top: 50px;
  width: 260px;

}

.last-member{
  display: inline-block;
  margin-left: 500px;
  margin-top: 50px;
  width: 260px;
}


.image {
  width: 260px;
  height: 260px;
  border-radius: 100%;
}

.overlay {
  opacity:0;
  transition: 1s ease;
  border-radius: 100%;

}

.text{
  position: relative;
  left: 30px;
  bottom: 180px;
  color: white;
  line-height: 2.4em;
  list-style-type: none;
}

.last-text{
  position: relative;
  bottom: 185px;
  left: 30px;
  color: white;
  line-height: 2.4em;
  list-style-type: none

}



ul li{
  position: relative;
  right: 90px;
  text-align: center;
}


.member:hover .image{
  opacity:0.15;

}

.member:hover .overlay{
  opacity: 1;

}

.last-member:hover .image{
  opacity:0.15;

}

.last-member:hover .overlay{
  opacity: 1;

}

#footer {
  background-color: black;
  height: 30%;
  width: 100%;
  margin: 0 auto;
  border-top: 0.5px solid white;
  text-align: center;
}
h3{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: black;
}
ul{ 
  height: auto;
  width: 100%;
    background-color: black;
    list-style: none;
     display:flex;  
  list-style:none;
}
#one {
  margin-left: 49%;
}
li{
  padding-right: 1%;
}
#text {
  margin: 0;
  background-color: black;
  width: 100%;
  text-align: center;
  color: pink;
  font-family: 'Open Sans', sans-serif;
}
#one:hover {
  opacity: 0.5;
}
#two:hover {
  opacity: 0.5;
}
#three:hover {
  opacity: 0.5;
}
#google {
  font-size: 36px;
  color: #d34836;
}
#fb{
  color:#3b5998;
  font-size:36px;
}
#youtube{
  color:#bb0000;
  font-size:36px;
}
#footer-text{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
