* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

body{
	background-color: black;
}


h1{
	font-family: Courier, sans-serif;
	font-weight: normal;
	font-size: 45px;
	padding-top: 20px;
	letter-spacing: 0.1em;
	padding-left: 40px;
}


.head{
	height: 100px;
	width: auto;
	margin-bottom: 50px;
	background-color: #99ccff;
}


.member{
	margin-left: 95px;
	margin-top: 50px;
	width: 300px;
	display: inline-block;
}

.last-member{
	margin-left: 500px;
	margin-right: 500px;
	margin-top: 50px;
}

.image{
	width: 260px;
	height: 260px;
	border-radius: 100%;
}

.overlay{
	opacity:0;
	transition: 1s ease;
	border-radius: 100%;


}

.text{
	position: relative;
	left: 70px;
	bottom: 180px;
	color: white;
	line-height: 2.4em;
}

.last-text{
	position: relative;
	bottom: 185px;
	right: 180px;
	color: white;
	line-height: 2.4em;
	
}

ul{
	list-style-type: none;
}
ul li{
	position: relative;
	right: 90px;
	text-align: center;
}

.member:hover .image{
	opacity:0.15;

}

.member:hover .overlay{
	opacity: 1;

}

.last-member:hover .image{
	opacity:0.15;

}

.last-member:hover .overlay{
	opacity: 1;

}


