@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
body{
	  /*background-color: rgb(0,0,48);*/
		background-color: #1C2842;
    margin-left: 180px;
}
.workshop_modal_img{
	width: 270px;
	height: 270px;
	float: left;
	margin-top: -4%;
	margin-left: 5%;
}

.workshop_modal_title{
	text-align: center;
	width: 100%;
	padding:5px 5px 5px 5px;
	float:left;
	margin:5px 5px 5px 5px;
}
.workshop_modal_text{
	width: 60%;
	float:left;
	font-size: 30px;
	margin-left: 10%;
}
.workshop_modal{
	  display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 90px; /* Location of the box */
		padding-left: 50px;
		padding-right: 50px;
		left: 0;
    top: 0;
    width:100%;/* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.6s;
}

.workshop_container:hover {
  box-shadow: 0 0 30px #fff;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.modal-content{
    float:left;
	background-color: rgb(0,0,48);
	color: #fefefe;
	/*margin: 15% 15% 15% 15%;*/
	padding:20px 20px 20px 20px;
	border: 5px solid rgb(20,231,209);
	border-radius: 5px;
	width: 90%;
	height: 60%;
}
#close{
	color: #fefefe;
	float: right;
	font-size: 25px;
}
.workshop_image{
	width: 100%;
	float: left;
  height:280px;
	padding-bottom: 10px;
}
.workshop_container{
	float: left;
	margin-left: -7%;
	margin-top: -15%;
	text-align: center;
	width: 80%;
  height: inherit;
	background-color: white;
	margin-bottom: 15%;
}
.workshop_title{
	color: rgb(20,231,209);
	font-size: 27px;
	font-weight: bold;
}
.workshop_cont{
	float: left;
	width: 29%;
	height: 50%;
	padding: 20px;
}
.workshop_heading{
	margin-left: 34%;
	color: rgb(20,231,209);
	font-family: 'Amatic SC', cursive;
	font-size: 80px;
	font-weight: bold;
	margin-top: 1%;
}
.workshop_modal_heading{
	color: rgb(20,231,209);
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	font-weight: bold;
	margin-top: 2px;
}
.workshop_button{
    background-color: #1C2842;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}
